/*
	Comment
*/

a { /* Comment */ color: /* Comment */ #0053CF; }

.TestClass {
	color: Black;
	background-color: #FFFFFF;
	text-align: left;
}

	#mobile_version{
		display: none;
	}

.conteiner{
	width: 100%;
	height: 100%;
}
.conteiner_hor{
	height: 100vh;
	width: 100%;
	max-width: 10000px;
}

body{
  background: #FFFFFF;
  padding: 0px;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}

header{
	height: 50px;
	width: 100%;
	background-color: #414141;
	color: #FFFFFF;
}

header #logo{
	float: left;
	margin-top: 15px;
	position: absolute;
	left: 32px;
	cursor: pointer;
}

header #lang{
	float: left;
	margin-top: 15px;
	position: absolute;
	right: 32px;
}
#block_1{
	height: 100vh;
	margin-top: -50px;
	position: relative;
	width: 100%;
}

#block_1 h2{
    font-weight: 300;
    margin: auto;
	left: 0;
	right: 0;
	bottom: 55vh;
	position: absolute;
    display: block;
    width: 500px;
	height: 30px;
	color: #414141;
}
#block_1 .arrow{
	width: 50px;
	height: 50px;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 10vh;
	position: absolute;
}
.slider{
	display: none;
}
#block_1m{
	display: none;	
}
#block_2, #block_3, #block_4{
	background: #414141;
	height: 100vh;
	width: 100%;
	position: relative;
}
.title{
	margin-top: 10vh;
	margin-left: 4vw;
	position: absolute;
	font-size: 1.4em;
	color: #FFFFFF;
}

.text_area{
	position: relative;
}
.text_area p{
	line-height: 1.8em;
	color: #808080;
	width: 700px;
	height: auto;
	font-size: 1.1em;
	background: #FFFFFF;
	margin: 0;
}
.text_area .line{
	position: absolute;
	width: 7px;
	height: 88%;
	background: #414141;
	top: 0px;
	bottom: 0px;
	margin-top: auto;
	margin-bottom: auto;
	
}

.button_next .next{
	width: 100px;
	height: 28px;
	right: 55px;
	bottom: 7px;
	margin: 0;
	padding: 0;
	position: absolute;
	font-size: 1.4em;
	font-weight: 300;
	color: #FFFFFF;
}
.button_next .next:hover{
	color: #0053CF;
}
.button_next .arrow{
    -ms-transform: rotate(-90deg);
  	-webkit-transform: rotate(-90deg);
  	transform: rotate(-90deg);
	width: 40px;
	height: 20px;
	right: 10px;
	bottom: 15px;
	position: absolute;
}
.button_next{
	border: 0px;
	background: inherit;
	width: 180px;
	height: 50px;
	position: absolute;
	right: 50px;
	bottom: 50px;
	outline: none;
}
.button_next:active{
	border: 0.5px solid #0053CF;
	width: 179px;
	height: 49px;
}


/*slide_1*/
#block_2 .text_area{
	top: 35vh;
}

#block_2 .text_area .line{
	margin-right: auto;
	left: 740px;
}
#block_2 .text_area p{
	padding: 20px 50px 20px 20px; 
	text-align: right;
}

/*slide_2*/
#block_3 .text_area{
	top: 30vh;
}
#block_3 .text_area .line{
	margin-left: auto;
    right: 740px;
}

#block_3 .text_area p{
    margin-left: auto;
	padding: 20px 20px 20px 50px; 
	text-align: left;
}

/*slide_3*/
.group_box{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 50px;
	bottom: 0px;
	margin: auto;
	width: 900px;
	height: 300px;
}
.group_box a{
	color: #414141;
}
.group_box a:hover{
	color: #0053CF;
}
.group_box a:hover .box_view{
	background: #414141;
}
.group_box a:hover .line{
	background: #0053CF;
}
.box_view{
	position: relative;
	width: 41%;
	height: 190px;
	background: #FFFFFF;
	float: left;
	padding: 10px;
	margin: 20px 20px 20px 20px;
	cursor: pointer;
}
.box_view img{
	position: absolute;
    height: 200px;
    width: 200px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}
.box_view .line{
	position: absolute;
	width: 7px;
	background: #414141;
	bottom: 15px;
}
.box_view p{
	position: absolute;
	right: 20px;
	bottom: 0px;
	padding: 0px;
}
/*slider_end*/
#block_5{
	background: #FFFFFF;
	margin-top: 0px;
	height: 100vh;
	width: 100%;
	position: relative;
}
#block_5 img{
	position: absolute;
	right: 15px;
	top: 15px;
}
#block_5 .title{
	color: #414141;
}
.box_media{
	width: 640px;
	height: 300px;
	position: absolute;
	left: 50px;
	bottom: 100px;
	margin: auto;
}
.box_media .line_link{
	position: absolute;
	bottom: 0px;
}
.box_media .link{
	width: 160px;
	height: 45px;
	float: left;
}
.box_media .link a{
	text-decoration: none;
}
.box_media .link p{
	font-size: 1em;
	padding: 0;
	text-align: center;
	color: #414141;
}

.box_media .link:hover{
	background: #0A0803;
	cursor: default;
}
.box_media .link:hover .dropup-content{
	background: #0A0803;
}
.box_media .link:hover p{
	color: #FFFFFF;
}
.box_media .link:hover .media{
	color: #FFFFFF;
}
.box_media .link:hover .dropup-content{
	display: block;
}
.box_media .link .dropup-content{
	display: none;
	width: 640px;
	height: 350px;
	position: absolute;
	top: -350px;
	left: 0px;
}
.dropup-content .btw_cnt{
	position: absolute;
	width: 500px;
	height: 250px;
	margin: auto;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
}
.dropup-content .btw_cnt p{
	text-align: right;
	margin-top: 100px;
	color: #808080;
}
.dropup-content .btw_cnt a{
	position: absolute;
    right: 0px;
    top: 120px;
	font-size: 0.8em;
}
.dropup-content .btw_cnt a:hover{
	color: #414141;
}
@media only screen and (min-width: 1790px) {
	#block_1 h2{
		font-size: 54px;
		width: 1070px;
	}
	.text_area p{
		font-size: 1.7em;
		width: 1100px;
	}
	#block_3 .text_area .line{
		right: 1140px;
	}
	#block_2 .text_area .line{
		left: 1140px;
	}
	.title{
		font-size: 1.9em;
	}
	.group_box{
		width: 1800px;
		height: 900px;
	}
	.box_view{
		height: 500px;
		top: 150px;
		left: 100px;
	}
	.box_view img{
		width: 400px;
		height: 400px;
	}
	.box_media{
		bottom: 100px;
		width: 1200px;
		height: 500px;
		left: 80px;
	}
	.box_media .link .dropup-content{
		width: 1200px;
		height: 530px;
		top: -530px;
	}
	.dropup-content .btw_cnt a{
		margin-top: 10px;
	}
	.box_media .link .dropup-content p{
		font-size: 1.5em;
	}
	.dropup-content .btw_cnt{
		position: absolute;
		width: 900px;
		height: 250px;
	}
	.box_media .link{
		width: 300px;
		height: 70px;
	}
	.box_media .link .media{
		font-size: 1.5em;
	}
}
@media (max-width: 1024px){
	#block_1{
		display: none;
	}
	#block_1m{
		display: block;
	}
	#desktop_version{
		display: none;
	}
	#mobile_version{
		display: block;
		overflow-x: hidden;
	    width: 100%;
    	height: 100vh;
	}
	body{
		background: #353030;
	}
	.block_up{
		background: #FFFFFF;
   		width: 5000px;
  		height: 2000px;
		margin-top: -1800px;
    	margin-left: -650px;
		transform: rotate(-29deg);
		box-shadow: 0 6px 6px #000000;
	}
	.block_down{
		background: #FFFFFF;
	    width: 700px;
	    height: 500px;
	    margin-top: 1400px;
	    margin-left: 750px;
		transform: rotate(-29deg);
		box-shadow: 0 6px 6px #000000;
	}
	.block_up h1{
		color: #1F1F1F;
	    position: absolute;
	    bottom: 400px;
	    left: 200px;
	    font-size: 7.2em;
	    letter-spacing: 45px;
	}
	.block_up h2{
		color: #1F1F1F;
	    position: absolute;
	    bottom: 330px;
	    left: 204px;
	    font-size: 5em;
	    font-weight: 500;
		letter-spacing: 7px;
	}	
	.block_down img{
		transform: rotate(44deg);
		margin-top: 95px;
	}
	
	.about h2, p{
		color: #FFFFFF;
    	margin: 0px;
	}
	.about h2{
		font-size: 3em;
		letter-spacing: 10px;
		font-weight: 600;
	}
	.about p{
		font-size: 2.4em;
		font-weight: 300;
	}
	
	.about .me p, h2{
		text-align: left;
	}
	.about .me h2{
		padding: 0px 50px;
	}
	.about .me p{
		padding: 50px;
	}
	.about .skills{
		margin-top: 230px;
	}
	.about .skills h2, p{
		text-align: right;
	}
	.about .skills h2{
		padding: 50px;
	}
	.about .skills p{
		padding: 0px 50px;
	}
	
	.slider_m{
	    background: #FFFFFF;
	    width: 5000px;
	    height: 1000px;
	    margin-top: -400px;
	    margin-left: -600px;
	    transform: rotate(-29deg);
	}
	
	.slider_m .coub{
	    width: 650px;
	    height: 750px;
	    transform: skew(-29deg);
	    -webkit-transform: skew(-29deg);
	    -moz-transform: skew(-29deg);
	    -o-transform: skew(-29deg);
	    position: absolute;
	    background: #FFFFFF;
		bottom: 0;
	    top: 0;
	    margin-top: auto;
	    margin-bottom: auto;
		box-shadow: 0 6px 6px #000000;
	}

	.coub .coub_view{
		transform: skew(29deg);
	    -webkit-transform: skew(29deg);
	    -moz-transform: skew(29deg);
	    -o-transform: skew(29deg);
	}
	.coub .coub_view .c2{
		transform: rotate(30deg);
	}
	.c2 img{
		position: absolute;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		top: 80px;
	}
	.c2 p{
	    color: #575757;
	    text-align: center;
	    font-size: 2.4em;
	    position: absolute;
	    width: 500px;
	    height: 50px;
	    left: 0;
	    right: 0;
	    margin-left: auto;
	    margin-right: auto;
	    bottom: -700px;
		font-weight: 600;
	}
	
	.coub:hover{
		transform: scale(1.04) skew(-29deg);
	}
	
	#hideCoub:hover{
		transform: translate(-740px) skew(-29deg);
		-webkit-transition: all 0.6s ease;
		z-index: 9999;
	}
	#hideCoub:hover + #showCoub{
		transform: translate(-200px) skew(-29deg);
		-webkit-transition: all 0.3s ease;
	}
	
	.contact{
		margin-top: 1000px;
		padding-bottom: 100px;
	}
	.contact img{
		margin-top: 100px;
		float: left;
	}
	.contact .info_me{
		width: 400px;
		margin-left: auto;
		margin-right: 50px;
		text-align: right;
	}
	.contact .info_me h3, a{
		color: #FFFFFF;
    	margin: 0px;
	}
	.contact .info_me h3{
		margin-top: 50px;
	    padding: 30px 0px;
		font-size: 2.5em;
		font-weight: 600;
	}
	.contact .info_me a{
		font-size: 2em;
		padding: 10px 0px;
		font-weight: 600;
	}
	.contact .info_me a:hover{
		text-decoration: underline;
		color: #0053CF;
	}
	
}

